/* Socials Section Styling */
.socials-section {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.socials-section h2 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
}

.socials-icons {
  display: flex;
  gap: 50px;
}

.socials-icons img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s;
}

.socials-icons img:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .socials-section h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .socials-icons {
    gap: 0px;
  }
  .socials-icons img {
    scale: 0.5;
  }
}